{% extends 'basedashboard.html.twig' %}

{% block title %}Dossier{% endblock %}

{% block content %}
    <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="text-end">
            <a href="{{ path('app_consultation_index') }}" class="add-new-btn">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        Retour


                    </font>
                </font>
            </a>
        </div>
        <div class="appointments">

            <div class="appointment-list">
                <div class="profile-info-widget">

                    <div class="profile-det-info">
                        
                        <div class="patient-details">
                            <h5><i class="far fa-clock"></i><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">id:</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ dossier.id}}</font></font>
                            </h5>
                            <h5><i class="far fa-clock"></i><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">numero:</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ dossier.numero }}</font></font>
                            </h5>
                            <h5><i class="far fa-clock"></i><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">code apci:</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ dossier.codeAPCI }}</font></font>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
