<form method="post" action="{{ path('app_sujet_delete', {'id': sujet.id}) }}" onsubmit="return confirm('vous avez sur du supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sujet.id) }}">
    <button class="btn btn-sm bg-danger-light" ><i class="far fa-trash-alt"></i></button>
</form>